torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
sentence-transformers==2.2.2
transformers==4.40.1
accelerate==0.27.2
langchain==0.2.14
langchain-community==0.2.12
faiss-cpu==1.7.4
pypdf==4.2.0
streamlit==1.36.0
